<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>category manage</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../plugins/select2/select2.css" />
    <link rel="stylesheet" href="../plugins/select2/select2-bootstrap.css" />
    <script src="../plugins/select2/select2.min.js" type="text/javascript"></script>


    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>

	<script type="text/javascript" src="../js/base.js"></script>
	<script type="text/javascript" src="../js/angular-select2.js"> </script>
	<script type="text/javascript" src="../js/service/typeTemplateService.js"></script>
	<script type="text/javascript" src="../js/service/itemCatService.js"></script>
	<script type="text/javascript" src="../js/controller/baseController.js"></script>
	<script type="text/javascript" src="../js/controller/itemCatController.js"></script>
    
</head>

<body class="hold-transition skin-red sidebar-mini" ng-app = "pinyougou" ng-controller="itemCatController" ng-init="findByParentId(0);findTypeTemplateList()" >
  <!-- .box-body -->
                
                    <div class="box-header with-border">
                        <h3 class="box-title">category manage
                       	</h3>
                    </div>

                    <div class="box-body">
                  			 <ol class="breadcrumb">
								 <li><a href="#" ng-click="grade=1;selectList({id:0})">parent category</a></li>
								 <li><a href="#" ng-click="grade=2;selectList(entity_1)">{{entity_1.name}}</a></li>
								 <li><a href="#" ng-click="grade=3;selectList(entity_2)">{{entity_2.name}}</a></li>
	                        </ol>

                        <!-- 数据表格 -->
                        <div class="table-box">
							
                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" title="new" data-toggle="modal" data-target="#editModal" ng-click="entity={}"><i class="fa fa-file-o"></i> new</button>
                                        <button type="button" class="btn btn-default" title="delete" ng-click="dele()"><i class="fa fa-trash-o"></i> delete</button>
                                        <button type="button" class="btn btn-default" title="refresh" ><i class="fa fa-check"></i> refresh</button>
                                       
                                    </div>
                                </div>
                            </div>                          
                       		
                        
			                <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input type="checkbox" class="icheckbox_square-blue">
			                              </th> 
										  <th class="sorting_asc">category ID</th>
									      <th class="sorting">category name</th>
									      <th class="sorting">category type template</th>
					                      <th class="text-center">operation</th>
			                          </tr>
			                      </thead>

								  <tbody>
			                          <tr ng-repeat="entity in list">
			                              <td><input  type="checkbox" ng-click="updateSelection($event, entity.id)" ></td>
				                          <td>{{entity.id}}</td>
									      <td>{{entity.name}}</td>
									      <td>{{entity.typeId}}</td>
										  <td class="text-center">
											  <span ng-if="grade!=3">
												   <button type="button" class="btn bg-olive btn-xs" ng-click="setGrade(grade+1);selectList(entity)">sub category</button>
											  </span>
											  <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal" ng-click="findOne(entity.id)">edit</button>
		                                  </td>
			                          </tr>
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->                      
						
                        </div>
                        <!-- 数据表格 /-->

                     </div>
                    <!-- /.box-body -->
              
                                
<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">category edit</h3>
		</div>
		<div class="modal-body">							
			
			<table class="table table-bordered table-striped"  width="800px">
				<tr>
		      		<td>Parent category</td>
		      		<td>
						{{entity_1.name}} >>  {{entity_2.name}}
		      		</td>
		      	</tr>
		      	<tr>
		      		<td>Category name</td>
		      		<td>
						<input  class="form-control" placeholder="category name" ng-model="entity.name">
					</td>
		      	</tr>			  
		      	<tr>
		      		<td>Type template</td>
		      		<td>
						<input select2  ng-model="entity.typeId"  config="typeTemplateList"  placeholder=" select type template " class="form-control">
						<!--<input select2 config="typeTemplateList" placeholder="Type template id" class="form-control" type="text" ng-model="entity.typeId"/>-->
                       <!-- <input select2 select2-model="entity.typeId"  config="typeTemplateList"  placeholder=" select type template " class="form-control">
-->
                    </td>
		      	</tr>		      	
			 </table>				
			
		</div>
		<div class="modal-footer">						
			<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="save()">save</button>
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">close</button>
		</div>
	  </div>
	</div>
</div>
</body>
</html>